@{
  Layout = "_Layout";
}
<br>
<div class="container text-center">
  <h2> <a href="/restaurants">View by Restaurants</a></h2>
  <h2> <a href="/cuisines">View by Cuisine</a></h2>
  <h2> <a href="/restaurants/new">Add a new Restaurant</a></h2>
  <h2> <a href="/cuisines/new">Add a new cuisine</a></h2>
  
</div>