@{
  Layout = "_Layout";
}

<h2 class="text-center">Add Cuisine</h2>
<div class="container">


    <form action="/cuisines/new" method="post">
    <label for="cuisinetype">Cuisine Type: </label>
    <input type="text" name="cuisinetype"><br>
    <button type="submit" class="btn btn-lg btn-primary">Add</button>
    </form>
</div>